<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>Grupo</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <!-- Your code here -->
        <%= image_tag @group.image %>
        <h2><%= @group.title %></h2>
        <h3>Tamanho: <%= @group.size %></h3>
        <h4>Horário: <%= @group.schedule %></h4>
        <p><%= @group.description %></p>
        <%= link_to "Editar", edit_group_path(@group) %>
        <%= link_to "Deletar", @group, :method => :delete, data: {confirm: "Você tem certeza?"} %>
        <%= link_to "Adicionar email", addEmail_group_path(@group) %>
        <%= link_to "Listar email", listEmail_group_path(@group) %>
      
      </div>
    </div>
  </div>
</div> 

