<!DOCTYPE html>

<html>
  <head>
    <!--link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <!--link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- jQuery CDN -->
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
  <% if current_user %> 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Home" src="/assets/home.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <!--li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li-->
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">EVENTOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/events">Listar eventos</a></li>
            <li><a href="/events/myshow">Meus eventos</a></li>
            <li><a href="/events/new">Criar Evento</a></li>
          </ul>
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GRUPOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/groups">Listar Grupos</a></li>
            <li><a href="/groups/myshow">Meus Grupos</a></li>
            <li><a href="/groups/new">Criar Grupo</a></li>
          </ul>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li-->
        
        
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <input class="form-control" 
            <%= text_field_tag :search, params[:search], placeholder: "Procurar" %>>
          <button type="submit" class="btn btn-default">
            <img alt="Procurar" src="/assets/search.png">
          </button>
          <% end %>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.entity %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!--li><a href="#">Action</a></li-->
            <!--li><a href="#">Another action</a></li-->
            <li class="divider"></li>
            <li><%= current_user.email %></li>
            <li class="divider"></li>
            <li><%= link_to "Sair", logout_path, method: :delete %></li>
            <!--% if current_user && current_user.editor? %> 
              <li>Editor</a></li>
            <!% end %-->
            <!--% if current_user && current_user.admin? %> 
              <li>Admin</a></li>
            <!% end %--> 
          </ul>
        </li>
        <!--li><a href="#">Link</a></li-->
      </ul>
    </div>
  </div>
</nav>
    
          
<% else %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Home" src="assets/home.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <!--li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li-->
        <li><a href="/events">EVENTOS</a></li>
        <li><a href="/groups">GRUPOS</a></li>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li-->
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Procurar" type="text">
        </div>
        <button type="submit" class="btn btn-default">Procurar</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entrar <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!--li><a href="#">Action</a></li-->
            <!--li><a href="#">Another action</a></li-->
            <li class="divider"></li>
            <li><%= link_to "Entrar", login_path %></a></li>
            <li class="divider"></li>
            <li><%= link_to "Criar Conta", signup_path %></a></li> 
          </ul>
        </li>
        <!--li><a href="#">Link</a></li-->
      </ul>
    </div>
  </div>
</nav>
        
     
<% end %>
          
        
    <%= yield  :eventos%>  
    <%= yield  %>
      
  </body>
</html>